<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>State</key>
		<string>中国</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>香港</string>
			</dict>
			<dict>
				<key>city</key>
				<string>澳门</string>
			</dict>
			<dict>
				<key>city</key>
				<string>台湾</string>
			</dict>
			<dict>
				<key>city</key>
				<string>北京</string>
			</dict>
			<dict>
				<key>city</key>
				<string>上海</string>
			</dict>
			<dict>
				<key>city</key>
				<string>天津</string>
			</dict>
			<dict>
				<key>city</key>
				<string>重庆</string>
			</dict>
			<dict>
				<key>city</key>
				<string>河北</string>
			</dict>
			<dict>
				<key>city</key>
				<string>山西</string>
			</dict>
			<dict>
				<key>city</key>
				<string>内蒙古</string>
			</dict>
			<dict>
				<key>city</key>
				<string>辽宁</string>
			</dict>
			<dict>
				<key>city</key>
				<string>吉林</string>
			</dict>
			<dict>
				<key>city</key>
				<string>黑龙江</string>
			</dict>
			<dict>
				<key>city</key>
				<string>江苏</string>
			</dict>
			<dict>
				<key>city</key>
				<string>浙江</string>
			</dict>
			<dict>
				<key>city</key>
				<string>安徽</string>
			</dict>
			<dict>
				<key>city</key>
				<string>福建</string>
			</dict>
			<dict>
				<key>city</key>
				<string>江西</string>
			</dict>
			<dict>
				<key>city</key>
				<string>山东</string>
			</dict>
			<dict>
				<key>city</key>
				<string>河南</string>
			</dict>
			<dict>
				<key>city</key>
				<string>湖北</string>
			</dict>
			<dict>
				<key>city</key>
				<string>湖南</string>
			</dict>
			<dict>
				<key>city</key>
				<string>广东</string>
			</dict>
			<dict>
				<key>city</key>
				<string>广西</string>
			</dict>
			<dict>
				<key>city</key>
				<string>海南</string>
			</dict>
			<dict>
				<key>city</key>
				<string>四川</string>
			</dict>
			<dict>
				<key>city</key>
				<string>贵州</string>
			</dict>
			<dict>
				<key>city</key>
				<string>云南</string>
			</dict>
			<dict>
				<key>city</key>
				<string>西藏</string>
			</dict>
			<dict>
				<key>city</key>
				<string>陕西</string>
			</dict>
			<dict>
				<key>city</key>
				<string>甘肃</string>
			</dict>
			<dict>
				<key>city</key>
				<string>青海</string>
			</dict>
			<dict>
				<key>city</key>
				<string>宁夏</string>
			</dict>
			<dict>
				<key>city</key>
				<string>新疆</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>美国</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>纽约</string>
			</dict>
			<dict>
				<key>city</key>
				<string>迈阿密</string>
			</dict>
			<dict>
				<key>city</key>
				<string>洛杉矶</string>
			</dict>
			<dict>
				<key>city</key>
				<string>波士顿</string>
			</dict>
			<dict>
				<key>city</key>
				<string>芝加哥</string>
			</dict>
			<dict>
				<key>city</key>
				<string>奥兰多</string>
			</dict>
			<dict>
				<key>city</key>
				<string>达拉斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>丹佛</string>
			</dict>
			<dict>
				<key>city</key>
				<string>费城</string>
			</dict>
			<dict>
				<key>city</key>
				<string>西雅图</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>英国</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>伦敦</string>
			</dict>
			<dict>
				<key>city</key>
				<string>利物浦</string>
			</dict>
			<dict>
				<key>city</key>
				<string>曼彻斯特</string>
			</dict>
			<dict>
				<key>city</key>
				<string>剑桥</string>
			</dict>
			<dict>
				<key>city</key>
				<string>爱丁堡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>格拉斯哥</string>
			</dict>
			<dict>
				<key>city</key>
				<string>临福斯湾</string>
			</dict>
			<dict>
				<key>city</key>
				<string>普利茅斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>加的夫</string>
			</dict>
			<dict>
				<key>city</key>
				<string>伯明翰</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>日本</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>东京</string>
			</dict>
			<dict>
				<key>city</key>
				<string>名古屋</string>
			</dict>
			<dict>
				<key>city</key>
				<string>横滨</string>
			</dict>
			<dict>
				<key>city</key>
				<string>扎幌</string>
			</dict>
			<dict>
				<key>city</key>
				<string>大阪</string>
			</dict>
			<dict>
				<key>city</key>
				<string>京都</string>
			</dict>
			<dict>
				<key>city</key>
				<string>福冈</string>
			</dict>
			<dict>
				<key>city</key>
				<string>淮北</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>德国</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>柏林</string>
			</dict>
			<dict>
				<key>city</key>
				<string>法兰克福</string>
			</dict>
			<dict>
				<key>city</key>
				<string>慕尼黑</string>
			</dict>
			<dict>
				<key>city</key>
				<string>汉堡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>科隆</string>
			</dict>
			<dict>
				<key>city</key>
				<string>不莱梅</string>
			</dict>
			<dict>
				<key>city</key>
				<string>杜塞尔多夫</string>
			</dict>
			<dict>
				<key>city</key>
				<string>纽伦堡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>汉诺威</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>法国</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>巴黎</string>
			</dict>
			<dict>
				<key>city</key>
				<string>里尔</string>
			</dict>
			<dict>
				<key>city</key>
				<string>鲁昂</string>
			</dict>
			<dict>
				<key>city</key>
				<string>兰斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>斯特拉斯堡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>南特</string>
			</dict>
			<dict>
				<key>city</key>
				<string>波尔多</string>
			</dict>
			<dict>
				<key>city</key>
				<string>图卢兹</string>
			</dict>
			<dict>
				<key>city</key>
				<string>尼斯</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>意大利</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>罗马</string>
			</dict>
			<dict>
				<key>city</key>
				<string>米兰</string>
			</dict>
			<dict>
				<key>city</key>
				<string>佛罗伦萨</string>
			</dict>
			<dict>
				<key>city</key>
				<string>都灵</string>
			</dict>
			<dict>
				<key>city</key>
				<string>热那亚</string>
			</dict>
			<dict>
				<key>city</key>
				<string>威尼斯</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>加拿大</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>多伦多</string>
			</dict>
			<dict>
				<key>city</key>
				<string>蒙特利尔</string>
			</dict>
			<dict>
				<key>city</key>
				<string>渥太华</string>
			</dict>
			<dict>
				<key>city</key>
				<string>温哥华</string>
			</dict>
			<dict>
				<key>city</key>
				<string>卡尔加里</string>
			</dict>
			<dict>
				<key>city</key>
				<string>埃德蒙顿</string>
			</dict>
			<dict>
				<key>city</key>
				<string>魁北克市</string>
			</dict>
			<dict>
				<key>city</key>
				<string>温尼伯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>汉密尔顿</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>西班牙</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>马德里</string>
			</dict>
			<dict>
				<key>city</key>
				<string>塞维利亚</string>
			</dict>
			<dict>
				<key>city</key>
				<string>巴塞罗那</string>
			</dict>
			<dict>
				<key>city</key>
				<string>萨拉戈萨城</string>
			</dict>
			<dict>
				<key>city</key>
				<string>巴伦西亚</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>俄罗斯</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>莫斯科</string>
			</dict>
			<dict>
				<key>city</key>
				<string>符拉迪沃斯托克</string>
			</dict>
			<dict>
				<key>city</key>
				<string>圣彼得堡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>索契</string>
			</dict>
			<dict>
				<key>city</key>
				<string>叶卡捷琳堡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>新西伯利亚</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>巴西</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>圣保罗</string>
			</dict>
			<dict>
				<key>city</key>
				<string>萨尔瓦多</string>
			</dict>
			<dict>
				<key>city</key>
				<string>里约热内卢</string>
			</dict>
			<dict>
				<key>city</key>
				<string>巴西利亚</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>澳大利亚</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>堪培拉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>悉尼</string>
			</dict>
			<dict>
				<key>city</key>
				<string>佩斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>墨尔本</string>
			</dict>
			<dict>
				<key>city</key>
				<string>布里斯本</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>韩国</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>首尔</string>
			</dict>
			<dict>
				<key>city</key>
				<string>光州</string>
			</dict>
			<dict>
				<key>city</key>
				<string>仁川</string>
			</dict>
			<dict>
				<key>city</key>
				<string>大邱</string>
			</dict>
			<dict>
				<key>city</key>
				<string>安东</string>
			</dict>
			<dict>
				<key>city</key>
				<string>釜山</string>
			</dict>
			<dict>
				<key>city</key>
				<string>济州岛</string>
			</dict>
			<dict>
				<key>city</key>
				<string>济 州</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>瑞士</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>伯尔尼</string>
			</dict>
			<dict>
				<key>city</key>
				<string>日内瓦</string>
			</dict>
			<dict>
				<key>city</key>
				<string>苏黎世</string>
			</dict>
			<dict>
				<key>city</key>
				<string>巴塞尔</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>挪威</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>奥斯陆</string>
			</dict>
			<dict>
				<key>city</key>
				<string>布斯克吕</string>
			</dict>
			<dict>
				<key>city</key>
				<string>阿克什胡斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>霍达兰</string>
			</dict>
			<dict>
				<key>city</key>
				<string>东福尔</string>
			</dict>
			<dict>
				<key>city</key>
				<string>西阿格德尔</string>
			</dict>
			<dict>
				<key>city</key>
				<string>海德马克</string>
			</dict>
			<dict>
				<key>city</key>
				<string>奥普兰</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>奥地利</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>维也纳</string>
			</dict>
			<dict>
				<key>city</key>
				<string>克拉根福</string>
			</dict>
			<dict>
				<key>city</key>
				<string>萨尔茨堡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>林茨</string>
			</dict>
			<dict>
				<key>city</key>
				<string>格拉茨</string>
			</dict>
			<dict>
				<key>city</key>
				<string>因斯布鲁克</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>泰国</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>曼谷</string>
			</dict>
			<dict>
				<key>city</key>
				<string>清迈</string>
			</dict>
			<dict>
				<key>city</key>
				<string>普吉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>芭堤雅</string>
			</dict>
			<dict>
				<key>city</key>
				<string>清莱</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>荷兰</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>鹿特丹</string>
			</dict>
			<dict>
				<key>city</key>
				<string>阿姆斯特丹</string>
			</dict>
			<dict>
				<key>city</key>
				<string>海牙</string>
			</dict>
			<dict>
				<key>city</key>
				<string>莱顿</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>比利时</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>布鲁塞尔</string>
			</dict>
			<dict>
				<key>city</key>
				<string>布鲁日</string>
			</dict>
			<dict>
				<key>city</key>
				<string>根特</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>墨西哥</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>阿瓜斯卡连特斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>下加利福尼亚</string>
			</dict>
			<dict>
				<key>city</key>
				<string>南下加利福尼亚</string>
			</dict>
			<dict>
				<key>city</key>
				<string>坎佩切</string>
			</dict>
			<dict>
				<key>city</key>
				<string>恰帕斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>奇瓦瓦</string>
			</dict>
			<dict>
				<key>city</key>
				<string>科阿韦拉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>科利马</string>
			</dict>
			<dict>
				<key>city</key>
				<string>杜兰戈</string>
			</dict>
			<dict>
				<key>city</key>
				<string>瓜纳华托</string>
			</dict>
			<dict>
				<key>city</key>
				<string>格雷罗</string>
			</dict>
			<dict>
				<key>city</key>
				<string>伊达尔戈</string>
			</dict>
			<dict>
				<key>city</key>
				<string>哈利斯科</string>
			</dict>
			<dict>
				<key>city</key>
				<string>墨西哥</string>
			</dict>
			<dict>
				<key>city</key>
				<string>米却肯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>莫雷洛斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>纳亚里特</string>
			</dict>
			<dict>
				<key>city</key>
				<string>新莱昂</string>
			</dict>
			<dict>
				<key>city</key>
				<string>瓦哈卡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>普埃布拉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>克雷塔罗</string>
			</dict>
			<dict>
				<key>city</key>
				<string>金塔纳罗奥</string>
			</dict>
			<dict>
				<key>city</key>
				<string>圣路易斯波托西</string>
			</dict>
			<dict>
				<key>city</key>
				<string>锡那罗亚</string>
			</dict>
			<dict>
				<key>city</key>
				<string>索诺拉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>塔巴斯科</string>
			</dict>
			<dict>
				<key>city</key>
				<string>塔毛利帕斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>特拉斯卡拉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>韦拉克鲁斯</string>
			</dict>
			<dict>
				<key>city</key>
				<string>尤卡坦</string>
			</dict>
			<dict>
				<key>city</key>
				<string>萨卡特卡斯</string>
			</dict>

		</array>
	</dict>
	<dict>
		<key>State</key>
		<string>阿拉伯</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>迪拜</string>
			</dict>
			<dict>
				<key>city</key>
				<string>沙迦</string>
			</dict>
			<dict>
				<key>city</key>
				<string>哈伊马角</string>
			</dict>
			<dict>
				<key>city</key>
				<string>阿布扎比</string>
			</dict>
			<dict>
				<key>city</key>
				<string>富查伊拉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>乌姆盖万</string>
			</dict>
			<dict>
				<key>city</key>
				<string>阿治曼</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>奥地利</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>斯洛伐克</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>雅典</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>希腊</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>瑞典</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>斯德哥尔摩</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>芬兰</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>赫尔辛基</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>摩洛哥</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>拉巴特</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>马来西亚</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>马来西亚</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>新加坡</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>新加坡</string>
			</dict>
		</array>
	</dict>

	<dict>
		<key>State</key>
		<string>新西兰</string>
		<key>Cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>惠灵顿</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
